name: Publish release to SciJava Maven

on: 
  workflow_dispatch:
    inputs:
      c_blosc_version:
        description: Semantic version of c-blosc to package.
        type: string
        default: "1.21.6"
        required: true

jobs:
  jars:
    name: Build jars
    uses: ./.github/workflows/jars.yml
    with:
      c_blosc_version: v${{ inputs.c_blosc_version }}

  release:
    needs: jars
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          pattern: blosc-jars

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create --draft v${{ inputs.c_blosc_version }} -t ${{ github.sha }} --title v${{ inputs.c_blosc_version }} \
              blosc-natives-darwin-aarch64.jar \
              blosc-natives-darwin-x86-64.jar \
              blosc-natives-linux-x86-64.jar \
              blosc-natives-linux-aarch64.jar \
              blosc-natives-win32-x86-64.jar \
              blosc-natives.jar

  publish:
    needs: jars
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: blosc-jars

    - name: Publish snapshot
      uses: gradle/gradle-build-action@v2.4.2
      with:
        arguments: publish -P release=true -P blosc_version=${{ inputs.c_blosc_version }}
      env:
        MAVEN_USER: ${{ secrets.MAVEN_USER }}
        MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
