name: Publish release to SciJava Maven

on: 
  release:
    types: [published]

jobs:
  jars:
    name: Build jars
    uses: ./.github/workflows/jars.yml

  publish:
    needs: jars
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: blosc-jars

    - name: Publish snapshot
      uses: gradle/gradle-build-action@v2.4.2
      with:
        arguments: publish -P release=true
      env:
        MAVEN_USER: ${{ secrets.MAVEN_USER }}
        MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
