name: Publish snapshot to SciJava Maven

on: 
  workflow_dispatch:
    inputs:
      c_blosc_version:
        description: Semantic version of c-blosc to package.
        type: string
        default: "1.21.5"
        required: true


jobs:
  jars:
    name: Build jars
    uses: ./.github/workflows/jars.yml
    with:
      c_blosc_version: ${{ inputs.c_blosc_version }}


  publish:
    needs: jars

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: blosc-jars
  
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Publish snapshot
      uses: gradle/gradle-build-action@v2
      with:
        arguments: publish -P blosc_version=${{ inputs.c_blosc_version }}
      env:
        MAVEN_USER: ${{ secrets.MAVEN_USER }}
        MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
